# Heart Disease Project
In this project, we import a data from a CSV file and perform simple calculations.

In [9]:
# Importing libraries
import pandas as pd;

# Loading csv file into a dataframe
data = pd.read_csv("./data/heart-disease.csv");

## Data exploration and cleaning
The data we loaded is a dataset containing information about patients heart history. Each row in the dataset represents one patient and each column represents a different variable. Here is a brief description of each column:

- age: The age of the patient in years.
- sex: The sex of the patient (0 = female, 1 = male).
- cp: The type of chest pain experienced by the patient (0 = typical angina, 1 = atypical angina, 2 = non-anginal pain, 3 = asymptomatic).
- trestbps: The resting blood pressure of the patient in mm Hg.
- chol: The serum cholesterol level of the patient in mg/dL.
- fbs: The fasting blood sugar level of the patient (0 = <120 mg/dL, 1 = >=120 mg/dL).
- restecg: The resting electrocardiographic results of the patient (0 = normal, 1 = having ST-T wave abnormality, 2 = showing probable or definite left ventricular hypertrophy).
- thalach: The maximum heart rate achieved by the patient during exercise.
- exang: Whether or not the patient has exercise-induced angina (0 = no, 1 = yes).
- oldpeak: ST depression induced by exercise relative to rest.
- slope: The slope of the peak exercise ST segment (0 = upsloping, 1 = flat, 2 = downsloping).
- ca: The number of major vessels (0-3) colored by fluoroscopy.
- thal: A blood disorder called thalassemia (0 = normal, 1 = fixed defect, 2 = reversible defect).
- target: Whether or not the patient has heart disease (0 = no, 1 = yes).

In [10]:
# Random data from the csv file to audit the quality.
print(data.sample(n=5));

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
168   63    1   0       130   254    0        0      147      0      1.4
9     57    1   2       150   168    0        1      174      0      1.6
72    29    1   1       130   204    0        0      202      0      0.0
116   41    1   2       130   214    0        0      168      0      2.0
85    67    0   2       115   564    0        0      160      0      1.6

     slope  ca  thal  target
168      1   1     3       0
9        2   0     2       1
72       2   0     2       1
116      1   0     2       1
85       1   0     3       1

In [16]:
# Printing the data type of each of our variables (columns)
print(data.dtypes);

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [20]:
# Check for missing values
print(data.isnull());

       age    sex     cp  trestbps   chol    fbs  restecg  thalach  exang  \
0    False  False  False     False  False  False    False    False  False
1    False  False  False     False  False  False    False    False  False
2    False  False  False     False  False  False    False    False  False
3    False  False  False     False  False  False    False    False  False
4    False  False  False     False  False  False    False    False  False
..     ...    ...    ...       ...    ...    ...      ...      ...    ...
298  False  False  False     False  False  False    False    False  False
299  False  False  False     False  False  False    False    False  False
300  False  False  False     False  False  False    False    False  False
301  False  False  False     False  False  False    False    False  False
302  False  False  False     False  False  False    False    False  False

     oldpeak  slope     ca   thal  target
0      False  False  False  False   False
1      False  False  False  False   False
2      False  False  False  False   False
3      False  False  False  False   False
4      False  False  False  False   False
..       ...    ...    ...    ...     ...
298    False  False  False  False   False
299    False  False  False  False   False
300    False  False  False  False   False
301    False  False  False  False   False
302    False  False  False  False   False

[303 rows x 14 columns]

In [22]:
# Check for duplicates
print(data.duplicated());

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

## Data analysis
The data looks pretty clean so far. Let's do some basic data analysis.

In [26]:
# Let's calculate mean, count, standard deviation, minimum value, 25th percentile, median, 
# 75th percentile, and maximum value.
print(data.describe((include="all")))

              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000